@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    /* ### Primary */

    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    /* ### Neutral */

    --Dark-gray: hsl(0, 0%, 59%);
    --Dark-gray-st: hsl(0, 0%, 59%,0.25);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 52vw bottom 31vh, left 52vw top 31vh;
    background-color: var(--Dark-cyan);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    width: 325px;
    border-radius: 12px;
}

.card {
    text-align: center;
}

.img .pattern {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.img .avatar {
    position: relative;
    width: 90px;
    top: 0;
    left: 15%;
    transform: translate(-47%, -55%);
    border-radius: 50px;
    border: 4px solid white;
}

h1 {
    color: var(--Very-dark-desaturated-blue);
    font-size: 18px;
    font-weight: 700;
}

.userinfo h1 {
    transform: translate(0, -180%);
}

.userinfo h1 span {
    color: var(--Dark-gray);
    font-weight: 400;
    padding-left: 4px;
}

p {
    color: var(--Dark-grayish-blue);
}

.userinfo p {
    font-size: 14px;
    transform: translate(0, -200%);
}

.userstat {
    border-top: 1px solid var(--Dark-gray-st);
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.userstat p {
    font-size: 10px;
    letter-spacing: 1px;
}