@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* ## Colors  */
  /* ### Primary  */
  --Orange: hsl(25, 97%, 53%);

  /* ### Neutral  */
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Dark-Blue-lighter: hsl(213, 19%, 25%);
  --Dark-Blue: hsl(213, 19%, 20%);
  --Dark-Blue-darker: hsl(213, 19%, 12%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);

  /* ## Typography  */
  /* ### Body Copy */
  --Font-size-paragraph: 15px;
  --Font-Family: 'Overpass', sans-serif;
  --Font-Weight-normal: 400;
  --Font-Weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Font-Family);
  font-size: var(--Font-size-paragraph);
}

body {
  background-color: var(--Very-Dark-Blue);
  color: var(--Light-Grey);
}

.container {
  background-color: var(--Very-Dark-Blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 1.5rem;
  height: 100vh;
}

.rating-container {
  align-items: left;
}

.rating-container .star-icon-container {
  background-color: var(--Dark-Blue-lighter);
  display: flex;
  justify-content: center;
  align-self: flex-start;
  padding: 1rem;
  border-radius: 50%;
}

.rating-container .rating-heading,
.thank-you-container .thank-you-heading {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: var(--White);
}

.rating-container .rating-message,
.thank-you-container .thank-you-message {
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--Light-Grey);
}

.rating-container .rating-options {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--Font-Weight-bold);
}

.rating-options .rating-number {
  background-color: var(--Dark-Blue-lighter);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rating-options .rating-number:hover {
  background-color: var(--Orange);
  color: var(--Very-Dark-Blue);
}

.rating-options .rating-number.active {
  background-color: var(--White);
  color: var(--Very-Dark-Blue);
}

.rating-number [id^="rating"] {
  margin-top: 0.3rem;
}

.rating-container .submit-button {
  background-color: var(--Orange);
  border: none;
  border-radius: 1.5rem;
  font-weight: var(--Font-Weight-bold);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.8rem 1.5rem;
  color: var(--Very-Dark-Blue);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rating-container .submit-button:hover {
  background-color: var(--White);
}

.rating-container,
.thank-you-container {
  background-image: linear-gradient(to bottom,
      var(--Dark-Blue),
      var(--Dark-Blue-darker) 70%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 10px;
}

.thank-you-container .thank-you-message {
  text-align: center;
}

.thank-you-container {
  align-items: center;
}

.thank-you-container .selected-rating {
  background-color: var(--Dark-Blue-lighter);
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--Orange);
}

.hidden {
  display: none;
}

.attribution {
  background-color: var(--Dark-Blue-lighter);
  width: 100%;
  font-size: 11px;
  text-align: center;
  padding: 0.4rem;
  color: var(--Light-Grey);
}

.attribution a {
  color: var(--Orange);
  font-size: inherit;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}