@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  /* ## Colors */
  /* ### Primary */
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Cyan-op: hsla(178, 100%, 50%, 0.3);

  /* ### Neutral  */
  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);

  /* ## Typography */
  /* ### Body Copy  */
  --Font-size-paragraph: 18px;
  --Font-Family: 'Outfit', sans-serif;
  --Font-Weight-400: 400;
  --Font-Weight-300: 300;
  --Font-Weight-600: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Font-Family);
  color: var(--Soft-blue);
  font-size: var(--Font-size-paragraph);
}

.card {
  background-color: var(--Very-dark-blue-main-BG);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  height: 100vh;
}

.card__container {
  background-color: var(--Very-dark-blue-card-BG);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  padding: 1.5rem;
  border-radius: 0.8rem;
}

.card__container .card__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.card__image-container .card__image {
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
  z-index: 1;
  cursor: pointer;
  transition: z-index 0.3s;
}

.card__image-container .card__image:hover {
  z-index: 0;
}

.card__image-container .card__image-view-icon-container {
  background-color: var(--Cyan-op);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  width: 275px;
  height: 275px;
  cursor: pointer;
  transition: z-index 0.3s;
}

.card__image-container .card__image-view-icon-container:hover {
  z-index: 1;
}

.card__container .card__title {
  font-weight: var(--Font-Weight-600);
  font-size: 1.25rem;
  user-select: none;
  color: var(--White);
  cursor: pointer;
  transition: color 0.3s;
}

.card__container .card__title:hover {
  color: var(--Cyan);
}

.card__container .card__subtitle {
  font-weight: var(--Font-Weight-300);
  font-size: 0.9rem;
  line-height: 1.5;
}

.card__container .card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.9rem;
  border-bottom: 1px solid var(--Very-dark-blue-line);
}

.card__details .card__price,
.card__details .card__time-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__price .card__price-value,
.card__time-left .card__time-left-text {
  font-weight: var(--Font-Weight-600);
  font-size: 0.9rem;
  margin-left: 0.5rem;
  color: var(--Cyan);
}

.card__time-left .card__time-left-text {
  color: var(--Soft-blue);
  font-weight: var(--Font-Weight-400);
}

.card__container .card__creator {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__creator .card__creator-avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--White);
}

.card__creator .card__creator-text {
  font-weight: var(--Font-Weight-300);
  font-size: 0.9rem;
}


.card__creator-text .card__creator-label {
  font-size: inherit;
  font-weight: inherit;
  user-select: none;
  color: var(--White);
  cursor: pointer;
  transition: color 0.3s;
}

.card__creator .card__creator-label:hover {
  color: var(--Cyan);
}

.attribution {
  background-color: var(--Very-dark-blue-line);
  width: 100%;
  padding: 0.5rem;
  font-size: 0.6rem;
  text-align: center;
  color: var(--Soft-blue);
}

.attribution a {
  color: var(--Cyan);
  text-decoration: none;
  font-size: inherit;
}

.attribution a:hover {
  text-decoration: underline;
}